USE [master]
GO
/****** Object:  Database [Merkez]    Script Date: 9.11.2022 19:35:45 ******/
CREATE DATABASE [Merkez]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Merkez', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Merkez.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Merkez_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Merkez_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Merkez].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Merkez]
GO
/****** Object:  Table [dbo].[EgitimlerSet]    Script Date: 9.11.2022 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgitimlerSet](
	[EgitimNo] [int] IDENTITY(1,1) NOT NULL,
	[EgitimAdi] [nvarchar](max) NOT NULL,
	[EgitimSaati] [int] NOT NULL,
	[EgitimTuru] [nvarchar](max) NOT NULL,
	[EgitimUcreti] [decimal](18, 0) NOT NULL,
	[EgitimGunu] [nvarchar](max) NOT NULL,
	[SubeNo] [int] NOT NULL,
 CONSTRAINT [PK_EgitimlerSet] PRIMARY KEY CLUSTERED 
(
	[EgitimNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EgitmenlerSet]    Script Date: 9.11.2022 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgitmenlerSet](
	[EgitmenNo] [int] IDENTITY(1,1) NOT NULL,
	[EgitmenAdi] [nvarchar](max) NOT NULL,
	[EgitmenSifre] [nvarchar](max) NOT NULL,
	[EgitmenMail] [nvarchar](max) NOT NULL,
	[EgitmenTelefon] [nvarchar](max) NOT NULL,
	[EgitmenAlani] [nvarchar](max) NOT NULL,
	[SubeNo] [int] NOT NULL,
 CONSTRAINT [PK_EgitmenlerSet] PRIMARY KEY CLUSTERED 
(
	[EgitmenNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrencilerSet]    Script Date: 9.11.2022 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrencilerSet](
	[OgrenciNo] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciAdSoyad] [nvarchar](max) NOT NULL,
	[OgrenciSifre] [nvarchar](max) NOT NULL,
	[OgrenciMail] [nvarchar](max) NOT NULL,
	[OgrenciTelefon] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OgrencilerSet] PRIMARY KEY CLUSTERED 
(
	[OgrenciNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubelerSet]    Script Date: 9.11.2022 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubelerSet](
	[SubeNo] [int] IDENTITY(1,1) NOT NULL,
	[SubeAdi] [nvarchar](max) NOT NULL,
	[SubeAdresi] [nvarchar](max) NOT NULL,
	[EgitmenSayisi] [int] NOT NULL,
	[ProgramSayisi] [int] NOT NULL,
	[OgrenciNo] [int] NOT NULL,
 CONSTRAINT [PK_SubelerSet] PRIMARY KEY CLUSTERED 
(
	[SubeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_SubelerEgitimler]    Script Date: 9.11.2022 19:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_FK_SubelerEgitimler] ON [dbo].[EgitimlerSet]
(
	[SubeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_SubelerEgitmenler]    Script Date: 9.11.2022 19:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_FK_SubelerEgitmenler] ON [dbo].[EgitmenlerSet]
(
	[SubeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_OgrencilerSubeler]    Script Date: 9.11.2022 19:35:46 ******/
CREATE NONCLUSTERED INDEX [IX_FK_OgrencilerSubeler] ON [dbo].[SubelerSet]
(
	[OgrenciNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EgitimlerSet]  WITH CHECK ADD  CONSTRAINT [FK_SubelerEgitimler] FOREIGN KEY([SubeNo])
REFERENCES [dbo].[SubelerSet] ([SubeNo])
GO
ALTER TABLE [dbo].[EgitimlerSet] CHECK CONSTRAINT [FK_SubelerEgitimler]
GO
ALTER TABLE [dbo].[EgitmenlerSet]  WITH CHECK ADD  CONSTRAINT [FK_SubelerEgitmenler] FOREIGN KEY([SubeNo])
REFERENCES [dbo].[SubelerSet] ([SubeNo])
GO
ALTER TABLE [dbo].[EgitmenlerSet] CHECK CONSTRAINT [FK_SubelerEgitmenler]
GO
ALTER TABLE [dbo].[SubelerSet]  WITH CHECK ADD  CONSTRAINT [FK_OgrencilerSubeler] FOREIGN KEY([OgrenciNo])
REFERENCES [dbo].[OgrencilerSet] ([OgrenciNo])
GO
ALTER TABLE [dbo].[SubelerSet] CHECK CONSTRAINT [FK_OgrencilerSubeler]
GO
USE [master]
GO
